<div class="w-full h-full p-5 flex flex-col ">
  <div class="flex flex-col h-1/2 w-full">
    <img class="flex items-center justify-center" src="./assets/images/welcome_arca.png" alt="">
  </div>
  <div class="flex flex-col h-2/5 w-full items-center">
    <h1 class="text-3xl font-nunito font-bold text-slate-800 tracking-tight">¡Hola Coordinador!</h1>
    <p class="text-slate-800 font-nunito tracking-tight text-sm p-7 text-justify">
      Este formulario nos ayudará a tener una visión global de nuestro ministerio, así como a plantear estrategias que engrandezcan el Reino de Dios, por ello,
      agradecemos tu diligencia para que cada sábado puedas suministrar la información exacta antes de cerrar el día 🙏🏻.
      ¡¡Contamos contigo!!</p>
  </div>
  <div class="flex flex-col h-1/5 justify-center items-center">
    <div class="flex h-12 w-11/12">
      <button routerLink = "/attendance" class="flex w-full  h-full rounded-2xl border items-center justify-center
      bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 shadow-xl text-white font-nunito
      font-bold font-xs">
        Registrar convocatoria
      </button>
    </div>
  </div>
</div>
